@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand-blue: #0044FF;
  --color-brand-gray: #404348;
  --color-brand-light: #F7F9FC;
  --shadow-premium: 0 2px 4px rgba(0,0,0,0.02), 0 4px 12px rgba(0,0,0,0.02);
  --animate-shimmer: shimmer 2.5s linear infinite;

  @keyframes shimmer {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }
}

body {
  background-color: var(--color-brand-light);
  -webkit-font-smoothing: antialiased;
}

.markdown-body p {
  margin-bottom: 0.75em;
}
.markdown-body p:last-child {
  margin-bottom: 0;
}
.markdown-body ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 0.75em;
}
.markdown-body ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin-bottom: 0.75em;
}
.markdown-body strong {
  font-weight: 600;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}
